@model MVCModelBindingDemo.Models.Person

<h2>Submitted Information</h2>

<p>First Name: @Model.FirstName</p>

<p>Last Name: @Model.LastName</p>

<p>Age: @Model.Age</p>

<h3>Address</h3>

<p>Street: @Model.Address.Street</p>

<p>City: @Model.Address.City</p>

<p>Zip Code: @Model.Address.ZipCode</p>